@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Information We Collect
    Personal Information
    We may collect personal information from you when you provide it voluntarily. Personal information may include, but is not limited to:

    Your name
    Email address
    Contact information
    Other information you provide when contacting us or using our services
    Usage Information
    We may collect information about how you use our Site, including:

    Your IP address
    Browser type
    Operating system
    Pages viewed
    Links clicked
    Date and time of your visit
    Referring URL
    Cookies and Tracking Technologies
    We use cookies and similar tracking technologies to collect information about your browsing behavior on our Site. You can configure your browser to refuse cookies or notify you when a cookie is set. However, please note that some features of our Site may not function properly if cookies are disabled.

    How We Use Your Information
    We may use the information we collect for various purposes, including:

    To provide and maintain our Site
    To respond to your inquiries, comments, or questions
    To send you updates, newsletters, or promotional materials
    To analyze and improve our Site's functionality and user experience
    To detect, prevent, and address technical issues and security incidents
    Disclosure of Your Information
    We may disclose your information to third parties in the following circumstances:

    With your consent
    To comply with legal obligations
    To protect our rights, privacy, safety, or property
    In connection with the sale, merger, or acquisition of all or part of our company
    Your Choices
    You have the following choices regarding your information:

    You can opt out of receiving promotional emails from us by following the unsubscribe instructions provided in the email.
    You can disable cookies in your browser settings.
    Security
    We take reasonable steps to protect your personal information; however, no method of transmission over the internet or electronic storage is 100% secure. Therefore, we cannot guarantee its absolute security.
</p>
