html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-card {
    background-color: #343a40;
}

.custom-card-dark {
    padding: 20px 20px;
    margin: 20px;
    margin-buttom: 30px;
    background-color: #212529;
}

.btn-one {
    padding: 3px 3px; 
    margin: 5px;
    background-color: #14312f;
    color: #ffffff; 
    outline: 0px solid #ffffff; 
    box-shadow: 0 0 0px #ffffff
}


    .btn-one:hover {
        background-color: #0d2422;
        color: #ffffff;
    }

.btn-three {
    padding: 3px 3px; 
    margin: 5px;
    background-color: #999d2c;
    color: #ffffff; 
}

    .btn-three:hover {
        background-color: #7e8120;
        color: #ffffff;
    }

.btn-two {
    padding: 3px 3px; 
    margin: 5px;
    background-color: #298d8b;
    color: #ffffff; 
}
    .btn-two:hover {
        background-color: #1b6b69; 
        color: #ffffff;
    }

.lnk-one {
    color: #298d8b;
}

    .lnk-one:hover {
        color: #1b6b69;
    }
.modal-header .close {
    color: black;
    opacity: 1;
    font-size: 24px;
    line-height: 1; 
    padding: 0; 
    background: transparent; 
    border: none;
}

    .modal-header .close:hover {
        color: red; 
        opacity: 1;
    }

