@model List<Service>
@using Microsoft.AspNetCore.Http.Extensions;
@{
    var request = ViewContext.HttpContext.Request;
    var baseURL = $"{request.Scheme}://{request.Host}";
}

<div>
    <h2>Services</h2>
</div>
<div>
    @if (Model == null || !Model.Any())
    {
        <p>You don't have any services yet. Start your journey by creating one!</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="ServiceEdit" asp-controller="Host" asp-route-id="@service.ID">
                                @service.Name
                            </a>
                        </td>
                        <td>@service.Description</td>
                        <td>
                            <button class="get-link-btn btn btn-primary" onclick="copyToClipboard('@baseURL/Guest/ServiceView?id=@service.ID')"> Get shareable link for @service.Name</button> / <a href="/Host/DeleteService?id=@service.ID">Delete
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    <a asp-action="AddService" asp-controller="Host">Create a new Service</a>
</div>

@section scripts {
    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text)
                .then(function () {
                    alert("Link to your service copied to your clipboard! Now you can paste it wherever you want to share it :)");
                })
                .catch(function (err) {
                    console.error('Unable to copy text to clipboard', err);
                });
        }
    </script>
}